@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

    date           developer                 changes
    2/3/2025       celina                    created initial index page for site overview
                                             changed title from "index" to "Site Overview"
*@


@{
    ViewData["Title"] = "Site Overview"; 
}

<h2>Overview of RestorationSiteNameHere</h2>  <!-- insert site names here -->

<p>Hello from Views/SiteOverview/Index!</p>