@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Sites Dashboard";
}

@model List<RestoreMSIdentity.Models.SiteModel>

@if (Model == null)
{
    <p style="color: red;">Error: Model is null</p>
}
else
{
    <div class="sidebar">
        <h4>Sites</h4>
        @foreach (var site in Model)
        {
            <a href="#site-@site.Id">@site.Name</a>
        }
    </div>

    <!-- Main Content -->
    <div class="content">
        <h2>Site Dashboard</h2>
        <div class="row">
            @foreach (var site in Model)
            {
                <div class="col-md-4 mb-3" id="site-@site.Id">
                    <div class="card">
                        <img src="@site.ImageUrl" class="card-img-top" alt="Site Image">
                        <div class="card-body">
                            <h5 class="card-title">@site.Name</h5>
                            <p class="card-text">@site.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}